body {
    font-family: Arial;
    background-image: url("background.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    width: 400px;
    margin: 80px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
}

.input-box {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.add-btn {
    padding: 10px 15px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

li {
    list-style: none;
    background: #eee;
    margin-top: 12px;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ✔ COMPLETED TASK */
.completed {
    text-decoration: line-through;
    color: green;
    position: relative;
}

.completed::before {
    content: "✔ ";
    color: green;
    font-weight: bold;
}

.date-time {
    font-size: 12px;
    color: #555;
    display: block;
}

.actions button {
    margin-left: 8px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.edit-btn {
    background: orange;
    color: white;
}

.delete-btn {
    background: red;
    color: white;
}
